ci:
  autoupdate_schedule: quarterly
  skip:
    - shfmt
    - shellcheck
    - hadolint

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: check-vcs-permalinks
    - id: forbid-new-submodules
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
      exclude: CHANGELOG.md
    - id: check-yaml
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key


- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
    - id: shfmt
      args: ['-l', '-i', '2', '-ci', '-sr', '-w']
    - id: shellcheck

# Dockerfile linter
- repo: https://github.com/hadolint/hadolint
  rev: v2.13.1-beta
  hooks:
    - id: hadolint
      args: [
        '--ignore', 'DL3007', # Using latest
        '--ignore', 'DL3013', # Pin versions in pip
        '--ignore', 'DL3027', # Do not use apt
        '--ignore', 'DL3059', # Docker `RUN`s shouldn't be consolidated here
        '--ignore', 'DL4006', # Not related to alpine
        '--ignore', 'SC1091', # Useless check
        '--ignore', 'SC2015', # Useless check
        '--ignore', 'SC3037', # Not related to alpine
      ]

# JSON5 Linter
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v4.0.0-alpha.8
  hooks:
  - id: prettier
    # https://prettier.io/docs/en/options.html#parser
    files: '.json5$'


##########
# PYTHON #
##########

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
    - id: ruff
      args: [--fix]
      types_or: [python, pyi]
    - id: ruff-format
      types_or: [python, pyi]
      args: [--config, format.quote-style = 'single', --config, line-length = 100]

- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      name: isort
      args: [--force-single-line, --profile=black]
      exclude: |
        (?x)
          # It set wrong indent in imports in place where it shouldn't
          # https://github.com/PyCQA/isort/issues/2315#issuecomment-2566703698
          (^tests/pytest/test_cli_subcommands.py$
        )

- repo: https://github.com/asottile/add-trailing-comma
  rev: v3.1.0
  hooks:
    - id: add-trailing-comma

- repo: https://github.com/pre-commit/mirrors-autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args:
      - -i
      - --max-line-length=100

# Usage: http://pylint.pycqa.org/en/latest/user_guide/message-control.html
- repo: https://github.com/PyCQA/pylint
  rev: v3.3.3
  hooks:
    - id: pylint
      args:
      - --disable=import-error # E0401. Locally you could not have all imports.
      - --disable=fixme # W0511. 'TODO' notations.
      - --disable=logging-fstring-interpolation # Conflict with "use a single formatting" WPS323
      - --disable=ungrouped-imports # ignore `if TYPE_CHECKING` case. Other do reorder-python-imports
      - --disable=R0801 # Similar lines in 2 files. Currently I don't think that it possible to DRY hooks unique files boilerplate

      exclude: test_.+\.py$

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.14.1
  hooks:
    - id: mypy
      additional_dependencies:
          - types-PyYAML
      args: [
        --ignore-missing-imports,
        --disallow-untyped-calls,
        --warn-redundant-casts,
      ]

- repo: https://github.com/wemake-services/wemake-python-styleguide
  rev: 1.0.0
  hooks:
    - id: wemake-python-styleguide
      args:
      - --allowed-module-metadata=__all__ # Default to ''
      - --max-local-variables=6 # Default to 5
      - --max-returns=6 # Default to 5
      - --max-imports=15 # Default to 12
      # https://wemake-python-stylegui.de/en/latest/pages/usage/violations/index.html
      - --extend-ignore=
          E501   <!-- line too long (> 79 characters). Use 100 -->
          WPS115 <!-- Found upper-case constant in a class. All occurrences are false positive -->
          WPS226 <!-- Found string literal over-use - append > 3 -->


      exclude: |
        (?x)
          # Ignore tests
          (^tests/pytest/test_.+\.py$
          # Ignore deprecated hook
          |^src/pre_commit_terraform/terraform_docs_replace.py$
        )
