name: "Build Dockerfile if changed and run smoke tests"

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test changed-files
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get changed Dockerfile
        id: changed-files-specific
        uses: tj-actions/changed-files@v13.1
        with:
          files: |
            Dockerfile

      - name: Build if Dockerfile changed
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            INSTALL_ALL=true
          platforms: linux/amd64
          push: false
          tags: |
            ghcr.io/${{ github.repository }}:${{ env.IMAGE_TAG }}
