name: Release

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - master
    paths:
    - .github/workflows/release.yml
    - '**/*.py'
    - '**/*.sh'
    - Dockerfile*
    - .pre-commit-hooks.yaml
    # Ignore paths
    - '!tests/**'


jobs:
  release:
    permissions:
      # for cycjimmy/semantic-release-action to create a release
      contents: write
      # for cycjimmy/semantic-release-action to write comments to issues
      issues: write
      # for cycjimmy/semantic-release-action to write comments to PRs
      pull-requests: write

    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Release
      uses: cycjimmy/semantic-release-action@16ca923e6ccbb50770c415a0ccd43709a8c5f7a4  # v4.2.2
      with:
        semantic_version: 18.0.0
        extra_plugins: |
          @semantic-release/changelog@6.0.0
          @semantic-release/git@10.0.0
      env:
        # Custom token for triggering Docker image build GH Workflow on release
        # created by cycjimmy/semantic-release-action. Events created by
        # workflows with default GITHUB_TOKEN not trigger other GH Workflow.
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
