---

name: Release

on:
  workflow_dispatch:
  push:
    branches:
    - master
    paths:
    - '**/*.py'
    - '**/*.sh'
    - Dockerfile
    - .pre-commit-hooks.yaml
    # Ignore paths
    - '!tests/**'
permissions:
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Release
      # yamllint disable-line rule:line-length
      uses: cycjimmy/semantic-release-action@b1b432f13acb7768e0c8efdec416d363a57546f2  # v4.1.1
      with:
        semantic_version: 18.0.0
        extra_plugins: |
          @semantic-release/changelog@6.0.0
          @semantic-release/git@10.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}
